* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.linear-gradient-background {
    background-image: linear-gradient(
      rgb(20, 19, 19),
      rgba(94, 94, 94, 0.6)
    );
  }

 body {
    font-family: arial;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;

 }

 .nav {
        float: right;
        flex-direction: column;
        margin-top: 12px;
        font-size: 18px;
        overflow: hidden;
        color: #f2f2f2;
        text-decoration-line: underline;
        padding: 28px;
        position: relative;  
 }

  .nav a {
        float: right; 
        display: block;
        color: #f2f2f2;
        text-align: center; margin-right: 30px;
        padding: 18px 18px;
        text-decoration: none;
        box-shadow: 0 8px 8px 0 black;
  }

   .nav a:hover {
        background-color: #ddd;
        color: black;
}

   .header {
        float: left;
        font-size: 25px;
        margin-left: 90px;
        margin-top: 20px; 
        color: #f2f2f2;
        text-align: center; margin-right: 40px;
        padding: 16px 16px;
        text-decoration: none;
        box-shadow: 0 8px 8px 0 black;
 }

 
 .header h1 {
    float: left;
    position: relative;

 }

 .hero {
     background-image: linear-gradient(
    teal,
     rgb(20, 19, 19)
     );
     height: 150px;
     max-width: 100%;
 }


 /* image in about-me section */
img {

    float: left;
    height: auto;
    max-width: 100%; 
    size: 190px;
    margin-left: 8px;
    padding: 10px; padding-right: 25px;  
    border: 2x solid black;
}

.content {
    width: 90%;
    margin-top: 20px;
    margin-left: 80px;
    display: inline-block;
    color: #f2f2f2; 
    transition: all 0.8s ease-in-out;

}

.content :hover {   
    background-color: rgb(20, 19, 19);


}

.content h1 {
    font-size: 50px;
    text-decoration-line: underline;
    display: inline-block;

}


.content p {
    color: teal;
    margin-left: 50px;
    font-size: 20px;
}


.about-me {

    display: inline-block;
    margin-bottom: 30px;
    color: #f2f2f2;
    text-align: left;     
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;

}

.work {

    display: inline-block;
    margin-bottom: 30px;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;

}

.work-img {
    margin-left: 220px;
    width: 55%; 
    padding-top: 10px;
       
}

.resume {

    display: inline-block;
    margin-bottom: 30-x;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;
}

.resume-img {
    margin-left: 220px;
    width: 55%; 
    padding-top: 10px;
       
}

.contact-me {

    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;

}

.contact-me a {
    color: #f2f2f2;

}

ul { 
    font-size: 20px;
    color: #f2f2f2;
    padding-left: 290px;
    columns: 2;
    list-style-type: square;
}

ul :hover {
    color: teal;

}


.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: #f2f2f2;

}

@media screen and (max-width: 400px) {
    .nav a {
     flex-shrink: 30%;
    }
}

@media screen and (max-width: 768px) {
     { 
        width: 100%; 
        float: left;
    }
}
