* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.linear-gradient-background {
    background-image: linear-gradient(
      rgb(20, 19, 19),
      rgba(94, 94, 94, 0.6)
    );
  }

 body {
    font-family: arial;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;

 }

 .nav {
        float: right;
        margin-top: 12px;
        font-size: 18px;
        overflow: hidden;
        color: #f2f2f2;
        padding: 28px;
        position: relative;   
 }

  .nav a {
        float: right; 
        display: block;
        color: #f2f2f2;
        text-align: center; margin-right: 30px;
        padding: 18px 18px;
        text-decoration: none;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);

  }

   .nav a:hover {
        background-color: #ddd;
        color: black;
}

   .header {
        float: left;
        font-size: 25px;
        margin-left: 90px;
        margin-top: 12px; 
        display: block;
        color: #f2f2f2;
        text-align: center; margin-right: 40px;
        padding: 16px 16px;
        text-decoration: none;
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);

 }

 
 .header h1 {
    float: left;
    position: relative;

 }


.content {
    width: 90%;
    margin-left: 50px;
    display: block;
    color: #f2f2f2;

}

.content h1 {
    font-size: 50px;
    display: inline-block;

}

.content p {
    color: teal;
    margin-left: 50px;
}

.about-me {
    display: inline-block;
    margin-left: 50px;
    color: #f2f2f2;
    text-align: left;     
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);


}

.resume {

    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);


}

.work {

    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);

}

.contact-me {

    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);

}

ul { 

    padding-left: 200px;
    columns: 2;
    display: row;

}


.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: #f2f2f2;

}