* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


.linear-gradient-background {
    background-image: linear-gradient(
      rgb(20, 19, 19),
      rgba(46, 45, 45, 0.6)
    );
  }

 body {
    font-family: arial;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    color: #f2f2f2

 }

 .nav {
        float: right;
        margin-top: 12px;
        font-size: 18px;
        overflow: hidden;
        color: #f2f2f2;
        padding: 28px;
        position: relative; 
       
 }

  .nav a {
        float: right; 
        display: block;
        color: #f2f2f2;
        text-align: center; 
        margin-right: 30px;
        padding: 18px 18px;
        text-decoration-line: underline;
        box-shadow: 0 8px 8px 0 black;
  }

   .nav a:hover {
        background-color: #ddd;
        color: black;
}

   .header {
        float: left;
        font-size: 25px;
        margin-left: 70px;
        margin-top: 20px; 
        color: #f2f2f2;
        text-align: center; margin-right: 30px;
        padding: 16px 16px;
        text-decoration: none;
        box-shadow: 0 8px 8px 0 black;
 }

 
 .header h1 {
    float: left;
    position: relative;

 }

 .header-color {
     background-image: linear-gradient(
     rgb(22, 100, 202),
     rgb(10, 10, 10));
     height: 150px;
     max-width: 100%;
 }

 /* hero image positioned below nav bar */
 .hero {
    height: 200px;
    width: 100%;
    background-image: url("../Images/hero-image.png");
    border-bottom: 2px solid black;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px
 }

.page-wrapper {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }


.content {
    width: 95%;
    margin-top: 15px;
    margin-left: 40px;
    display: inline-block;
    transition: all 0.8s ease-in-out;
}

.content :hover {   
    background-color: rgb(20, 19, 19);


}

.content h1 {
    font-size: 60px;
    text-decoration-line: underline;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

 /* profile image in about-me section */
 img {

    float: left;
    height: auto;
    max-width: 100%; 
    size: 190px;
    margin-left: 8px;
    padding: 10px; padding-right: 25px;
    padding-bottom: 70px;  
    border: 2x solid black;
}


#about-me p {

    color: #f2f2f2;
    margin-left: 50px;
    font-size: 20px;
}

.icon1{
  margin-left: 200px;
}


#about-me {

    display: block;
    margin-bottom: 20px;
    color: #f2f2f2;
    text-align: left;     
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;

}

#work {
    display: block;
    margin-bottom: 20px;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;

}
     
h3 {
  color: rgb(22, 100, 202);

}

span {
  color: rgb(22, 100, 202);;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


#project {
  background-image: url("../Images/PetTraxLogo.png");
  margin-top: 20px;
  min-height: 300px;
  flex-basis: 100%;
  max-width: 95%
}

#repository {
  background-image: url("../Images/repo-image.png");
  margin-top: 20px;
  min-height: 300px;
  flex-basis: 100%;
  max-width: 95%
}

#dashboard {
  background-image: url("../Images/weatherapp.jpg");
  max-width: 58vh;
  margin: 0.5em;
  margin-top: 15px;
 
}

#backend {
  background-image: url("../Images/ecommerce.jpg");
  max-width: 58vh;
  margin: 0.5em;
  margin-top: 15px;

}

.flex-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }


.flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .flex-item div {
    background-color: var(--secondary);
    padding: 5px 10px;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }
  

#resume {

    display: block;
    margin-bottom: 20px;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;
}

.resume-iframe {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
   

}

#contact-me {
    display: block;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: #f2f2f2;
    text-align: left;
    padding: 16px 16px;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 black;
    padding-bottom: 20px;

}

#contact-me a {
    color: #f2f2f2;
    text-decoration: none;

}

#contact-me a:hover {
  color: rgb(22, 100, 202);
}

ul { 
    margin-left: 290px;
    flex-wrap: wrap;
    font-size: 20px;
    color: #f2f2f2;
    columns: 2;
    list-style-type: square;
}

ul :hover {
    color: rgb(22, 100, 202);

}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: #f2f2f2;

}


@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    nav {
      justify-content: center;
    }

    ul {
      margin-left: 30px;
      flex-direction: row;  
    }

    .resume-iframe{
        padding-left: 5px;
    }

  }

@media screen and (max-width: 768px) {
    .flex-item,
     #project,
     #repository{
    flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact, .about-me {
      flex-direction: column;
      align-items: flex-start;
    }


    .content {
        margin-left: 15px;

    }
  }